@page
@model MyEshop.Pages.Admin.ManageUsers.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <style>
        body {
            direction: rtl;
        }
    </style>
</head>
<div dir="rtl">
    <h1>افزودن کاربر</h1>

    <h4>کاربرها</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Users.Email" class="control-label"> ایمیل کاربر</label>
                    <input asp-for="Users.Email" class="form-control" />
                    <span asp-validation-for="Users.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Users.Password" class="control-label"> رمز عبور کاربر</label>
                    <input asp-for="Users.Password" class="form-control" />
                    <span asp-validation-for="Users.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Users.RegisterDate" class="control-label">تاریخ ثبت نام</label>
                    <label asp-for="Users.RegisterDate" class="control-label">تاریخ ثبت نام</label>
                    <input asp-for="Users.RegisterDate" class="form-control" />
                    <span asp-validation-for="Users.RegisterDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Users.IsAdmin" /> ادمین
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="افزودن" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">بازگشت به لیست</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>