@{
    ViewData["Title"] = "اتباط با ما";
}

<div class="container my-5">
    <div class="row">
        <!-- Contact Details -->
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h4 class="card-title">ارتباط با ما</h4>
                </div>
                <div class="card-body" style="width:50vh">
                    <p class="card-text"> 09013592427</p>
                    <p class="card-text mb-1"> safari.alireza.17181@gmail.com</p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h4 class="card-title">دنبال کنید</h4>
                </div>
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/alireza-safari-659b32237/" target="_blank" class="d-block mb-2">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://github.com/Alireza-s-sh" target="_blank" class="d-block">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
            </div>
        </div>

        <!-- Contact Form -->
        <div class="col-md-8">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h4 class="card-title">پیشنهاد ها</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">نام</label>
                            <input type="text" class="form-control" id="name" placeholder="نام خود را وارد کنید">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">ایمیل</label>
                            <input type="email" class="form-control" id="email" placeholder="ایمیل خود را وارد کنید">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">درخواست/پیشنهاد</label>
                            <textarea class="form-control" id="message" rows="5" placeholder="درخواست/پیشنهاد خود را وارد کنید"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">ارسال پیام</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</div>
